.vs/
[Bb]ackup/
[Dd]ebug/
[Rr]elease/
ipch/

*_h.h
*_i.c
*_p.c
*.aps
*.dll
*.dsw
*.exp
*.ilk
*.iobj
*.ipdb
*.lib
*.log
*.meta
*.ncb
*.obj
*.opt
*.pch
*.pdb
*.pgc
*.pgd
*.pidb
*.plg
*.rsp
*.sbr
*.scc
*.sdf
*.suo
*.tlb
*.tlh
*.tli
*.tlog
*.tmp
*.tmp_proj
*.vcxproj.user
[Uu]pgrade[Ll]og.htm
