[Dd]ebug/
[Rr]elease/

*_h.h
*_i.c
*_p.c
*_wpftmp.csproj
*.aps
*.cachefile
*.dll
*.dsw
*.exp
*.ilk
*.iobj
*.ipdb
*.lib
*.log
*.meta
*.ncb
*.obj
*.opendb
*.opensdf
*.opt
*.pch
*.pdb
*.pgc
*.pgd
*.pidb
*.plg
*.rsp
*.sbr
*.scc
*.sdf
*.svclog
*.suo
*.tlb
*.tlh
*.tli
*.tlog
*.tmp
*.tmp_proj
*.VC.db
*.VC.VC.opendb
*.vspscc
*.vssscc
ipch/
